.page-header {
	border-bottom: 1px solid #ececec;
}

.page-header > .container,
.site-nav,
.auth-nav,
.main-site-nav {
	display: flex;
	align-items: center;
}

/* Site-logo */
.page-header-logo {
	color: var(--accent);
	font-family: Raleway, sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	margin-right: 93px;

	transition-property: opacity;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header-logo span {
	color: #000;
	margin-left: -6px;
}

.page-header-logo:hover,
.page-header-logo:focus {
	opacity: 0.5;
}

/* Site-nav */

.site-nav {
	gap: 50px;
}

.auth-nav {
	margin-left: auto;
	gap: 30px;
}

.auth-nav-link {
	display: flex;
	display: block;
	align-items: center;
	color: var(--primary-text-color);
}

.auth-icons {
	margin-right: 10px;
	width: 16px;
	height: 16px;
}

.site-nav-link,
.auth-nav-link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;
	position: relative;

	color: var(--title-text-color);

	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;

	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-link::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	display: block;

	width: 100%;
	height: 4px;
	border-radius: 2px;

	background-color: var(--accent);
	transform: scaleX(0);

	transition-property: transform;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-link:hover::after {
	transform: scaleX(1);
}

.site-nav-link:hover,
.site-nav-link:focus {
	color: var(--accent);
}

.auth-nav-link:hover,
.auth-nav-link:focus {
	color: var(--accent);
	fill: var(--accent);
}

.current {
	position: relative;
	color: var(--accent);
}

.current::after {
	content: "";
	position: absolute;
	left: 0;
	display: block;

	width: 100%;
	height: 4px;
	border-radius: 2px;

	background-color: var(--accent);

	transform: scaleX(1);
}
