.team-section {
	background-color: #f5f4fa;
}

.team-list {
	display: flex;
	margin: -15px;
}

.team-list .items {
	width: 270px;
	margin: 15px;
	background-color: var(--primary-bg-color);

	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.team-content {
	padding: 30px 32px;
}

.team-section .sub-title {
	color: var(--title-text-color);
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
	margin-bottom: 10px;
}

.team-section-text {
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
	margin-bottom: 16px;
}

.team-soc {
	display: flex;
	justify-content: center;
	gap: 10px;
	/*margin-left: auto;
	margin-right: auto;*/
}

.team-soc-link {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	display: block;
	background-color: var(--primary-bg-color);
	display: flex;
	justify-content: center;
	align-items: center;

	transition-property: background-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-icon {
	fill: var(--icon-gray);

	transition-property: fill;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover,
.team-soc-link:focus {
	background-color: var(--accent);
}

.team-soc-link:hover .team-soc-icon,
.team-soc-link:focus .team-soc-icon {
	fill: var(--primary-bg-color);
}
